<style type="text/css">
/* Reset */
table.verifone-receipt,
table.verifone-receipt * {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

table.verifone-receipt {
    width: 100%;
    font-family: "Courier", monospace;
}

table.verifone-receipt td {
    padding: 1px 0;
}

table.verifone-receipt td:first-child {
    text-align: left;
}

table.verifone-receipt td:last-child {
    text-align: right;
}

table.verifone-receipt td:first-child:last-child {
    text-align: center;
}

table.verifone-receipt hr {
    margin: 5px 0;
    border-style: dashed;
}
</style>

<table class="verifone-receipt">
    {{#isMerchant}}
        <tr>
            <td colspan="2">*** MERCHANT COPY ***</td>
        </tr>
    {{/isMerchant}}

    {{#isCustomer}}
        <tr>
            <td colspan="2">*** CARDHOLDER COPY ***</td>
        </tr>
    {{/isCustomer}}

        {{#Duplicate}}
        <tr>
            <td colspan="2">*** DUPLICATE COPY ***</td>
        </tr>
    {{/Duplicate}}

    {{#Header}}
        <tr>
            <td colspan="2">{{Header}}</td>
        </tr>
    {{/Header}}

    <tr>
        <td colspan="2">
            <hr/>
        </td>
    </tr>

    {{#CardScheme}}
        <tr>
            <td>{{CardScheme}}</td>
            <td></td>
        </tr>
    {{/CardScheme}}

    {{#PAN}}
        <tr>
            <td>{{PAN}}</td>
            <td></td>
        </tr>
    {{/PAN}}

    {{#formattedExpiryDate}}
        <tr>
            <td>Expiry:</td>
            <td>{{formattedExpiryDate}}</td>
        </tr>
    {{/formattedExpiryDate}}

    {{#IssueNo}}
        <tr>
            <td>Issue No:</td>
            <td>{{IssueNo}}</td>
        </tr>
    {{/IssueNo}}

    {{#TxnType}}
        <tr>
            <td>{{TxnType}}</td>
            <td></td>
        </tr>
    {{/TxnType}}

    {{#CaptureMethod}}
        <tr>
            <td>{{CaptureMethod}}</td>
            <td></td>
        </tr>
    {{/CaptureMethod}}

    {{#CreditDebitMessage}}
        <tr>
            <td colspan="2">{{CreditDebitMessage}}</td>
        </tr>
    {{/CreditDebitMessage}}

        {{#Amount}}
        <tr>
            <td>Amount:</td>
            <td>{{CurrencySymbol}}{{Amount}}</td>
        </tr>
    {{/Amount}}

    {{#Total}}
        <tr>
            <td><strong>TOTAL:</strong></td>
            <td><strong>{{CurrencySymbol}}{{Total}}</strong></td>
        </tr>
    {{/Total}}

    {{#CVM}}
        <tr>
            <td colspan="2">{{CVM}}</td>
        </tr>
    {{/CVM}}

    {{#KeepText1}}
        <tr>
            <td colspan="2">{{KeepText1}}</td>
        </tr>
    {{/KeepText1}}

    {{#KeepText2}}
        <tr>
            <td colspan="2">{{KeepText2}}</td>
        </tr>
    {{/KeepText2}}

    {{#PTID}}
        <tr>
            <td>PTID:</td>
            <td>{{PTID}}</td>
        </tr>
    {{/PTID}}

    {{#MID}}
        <tr>
            <td>MID:</td>
            <td>{{MID}}</td>
        </tr>
    {{/MID}}

    {{#TID}}
        <tr>
            <td>TID:</td>
            <td>{{TID}}</td>
        </tr>
    {{/TID}}

    {{#TxnDateTime}}
        <tr>
            <td>Date / Time:</td>
            <td>{{TxnDateTime}}</td>
        </tr>
    {{/TxnDateTime}}

    {{#EFTSN}}
        <tr>
            <td>EFTSN:</td>
            <td>{{EFTSN}}</td>
        </tr>
    {{/EFTSN}}

    <tr>
        <td colspan="2">
            <hr/>
        </td>
    </tr>

    {{#AuthCode}}
        <tr>
            <td>Authcode:</td>
            <td>{{AuthCode}}</td>
        </tr>
    {{/AuthCode}}

    {{#Reference}}
        <tr>
            <td>Ref:</td>
            <td>{{Reference}}</td>
        </tr>
    {{/Reference}}

    {{#AID}}
        <tr>
            <td>AID:</td>
            <td>{{AID}}</td>
        </tr>
    {{/AID}}

    {{#AppEff}}
        <tr>
            <td>App Eff:</td>
            <td>{{AppEff}}</td>
        </tr>
    {{/AppEff}}

    {{#AppSeq}}
        <tr>
            <td>App Seq:</td>
            <td>{{AppSeq}}</td>
        </tr>
    {{/AppSeq}}


    <!--{{#CustomerPresent}}
        <tr>
            <td>CustomerPresent</td>
            <td>{{CustomerPresent}}</td>
        </tr>
    {{/CustomerPresent}}-->

    <tr>
        <td colspan="2">
            <hr/>
        </td>
    </tr>

    {{#Footer}}
        <tr>
            <td colspan="2">{{Footer}}</td>
        </tr>
    {{/Footer}}
</table>
