<style type="text/css">
.verifone-receipt,
.verifone-receipt * {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: normal;
    font-size: 12px;
    word-break: break-all;
}

.verifone-receipt {
    width: 100%;
}

.verifone-receipt strong {
    font-weight: bolder;
}

.verifone-receipt hr {
    margin: 1mm 0;
    border-style: dashed;
}

.verifone-receipt h3 {
    text-align: center;
}

.verifone-receipt p:after {
    content: "";
    clear: both;
    display: table;
}

.verifone-receipt p.center {
    text-align: center;
}

.verifone-receipt p.right {
    text-align: right;
}

.verifone-receipt p span {
    float: left;
}

.verifone-receipt .signature-box {
    height: 10mm;
}
</style>

<div class="verifone-receipt">
    {{#isMerchant}}
        <h3>*** MERCHANT COPY ***</h3>
    {{/isMerchant}}

    {{#isCustomer}}
        <h3>*** CARDHOLDER COPY ***</h3>
    {{/isCustomer}}

    {{#Duplicate}}
        <h3>*** DUPLICATE COPY ***</h3>
    {{/Duplicate}}

    {{#Header}}
        <h3>{{Header}}</h3>
    {{/Header}}

    <hr />

    {{#CardScheme}}
        <p>{{CardScheme}}</p>
    {{/CardScheme}}

    {{#PAN}}
        <p>{{PAN}}</p>
    {{/PAN}}

    {{#isMerchant}}
        {{#formattedStartDate}}
            <p class="right">
                <span>Start:</span>
                {{formattedStartDate}}
            </p>
        {{/formattedStartDate}}
        {{#formattedExpiryDate}}
            <p class="right">
                <span>Expiry:</span>
                {{formattedExpiryDate}}
            </p>
        {{/formattedExpiryDate}}
    {{/isMerchant}}

    {{#IssueNo}}
        <p class="right">
            <span>Issue No:</span>
            {{IssueNo}}
        </p>
    {{/IssueNo}}

    {{#TxnType}}
        <p>{{TxnType}}</p>
    {{/TxnType}}

    {{#CaptureMethod}}
        <p>{{CaptureMethod}}</p>
    {{/CaptureMethod}}

    {{#CreditDebitMessage}}
        <p class="center">{{CreditDebitMessage}}</p>
    {{/CreditDebitMessage}}

    {{#Amount}}
        <p class="right">
            <span>Amount:</span>
            {{CurrencySymbol}}{{Amount}}
        </p>
    {{/Amount}}

    {{#showGratutiy}}
        <p class="right">
            <span>Gratuity:</span>
            {{CurrencySymbol}}{{Gratuity}}
        </p>
    {{/showGratutiy}}

    {{#showCashback}}
        <p class="right">
            <span>Cashback:</span>
            {{CurrencySymbol}}{{Cashback}}
        </p>
    {{/showCashback}}

    {{#Total}}
        <p class="right">
            <span><strong>TOTAL:</strong></span>
            <strong>{{CurrencySymbol}}{{Total}}</strong>
        </p>
    {{/Total}}

    {{#CVM}}
        <p class="center"><strong>{{CVM}}</strong></p>
    {{/CVM}}

    {{#showSignatureLine}}
        <div class="signature-box"></div>
        <hr />
    {{/showSignatureLine}}

    {{#KeepText1}}
        <p class="center">{{KeepText1}}</p>
    {{/KeepText1}}

    {{#KeepText2}}
        <p class="center">{{KeepText2}}</p>
    {{/KeepText2}}

    {{#PTID}}
        <p class="right">
            <span>PTID:</span>
            {{PTID}}
        </p>
    {{/PTID}}

    {{#MID}}
        <p class="right">
            <span>MID:</span>
            {{MID}}
        </p>
    {{/MID}}

    {{#TID}}
        <p class="right">
            <span>TID:</span>
            {{TID}}
        </p>
    {{/TID}}

    {{#showSeparateDateTime}}
        <p class="right">
            <span>Date:</span>
            {{date}}
        </p>
        <p class="right">
            <span>Time:</span>
            {{time}}
        </p>
    {{/showSeparateDateTime}}
    {{^showSeparateDateTime}}
        {{#TxnDateTime}}
            <p class="right">
                <span>Date:</span>
                {{TxnDateTime}}
            </p>
        {{/TxnDateTime}}
    {{/showSeparateDateTime}}


    {{#EFTSN}}
        <p class="right">
            <span>EFTSN:</span>
            {{EFTSN}}
        </p>
    {{/EFTSN}}

    <hr />

    {{#TokenRegistrationResult}}
        <p class="right">
            <span>Token:</span>
            {{TokenRegistrationResult}}
        </p>

        {{#TokenID}}
            <p class="right">
                <span>Token ID:</span>
                {{TokenID}}
            </p>
        {{/TokenID}}

        <hr />
    {{/TokenRegistrationResult}}

    {{#AuthCode}}
        <p class="right">
            <span>Authcode:</span>
            {{AuthCode}}
        </p>
    {{/AuthCode}}

    {{#Reference}}
        <p class="right">
            <span>Ref:</span>
            {{Reference}}
        </p>
    {{/Reference}}

    {{#AID}}
        <p class="right">
            <span>AID:</span>
            {{AID}}
        </p>
    {{/AID}}

    {{#AppEff}}
        <p class="right">
            <span>App Eff:</span>
            {{AppEff}}
        </p>
    {{/AppEff}}

    {{#AppSeq}}
        <p class="right">
            <span>App Seq:</span>
            {{AppSeq}}
        </p>
    {{/AppSeq}}

    <hr />

    {{#isExtended}}
        <p class="right">
            <span>AppExp:</span>
            {{AppExp}}
        </p>
        <p class="right">
            <span>TxnType:</span>
            {{TxnType}}
        </p>
        <p class="right">
            <span>Amount:</span>
            {{Amount}}
        </p>
        <p class="right">
            <span>TransactionCurrencyCode:</span>
            {{TransactionCurrencyCode}}
        </p>
        <p class="right">
            <span>CID:</span>
            {{CID}}
        </p>
        <p class="right">
            <span>CardHolder:</span>
            {{CardHolder}}
        </p>
        <p class="right">
            <span>CVMR:</span>
            {{CVMR}}
        </p>
        <p class="right">
            <span>TSI:</span>
            {{TSI}}
        </p>
        <p class="right">
            <span>TVR:</span>
            {{TVR}}
        </p>
        <p class="right">
            <span>TxnDateTime:</span>
            {{TxnDateTime}}
        </p>
        <p class="right">
            <span>IACDef:</span>
            {{IACDef}}
        </p>
        <p class="right">
            <span>IACDen:</span>
            {{IACDen}}
        </p>
        <p class="right">
            <span>IACOnl:</span>
            {{IACOnl}}
        </p>
        <p class="right">
            <span>AC:</span>
            {{AC}}
        </p>
        <p class="right">
            <span>AIP:</span>
            {{AIP}}
        </p>
        <p class="right">
            <span>TACDef:</span>
            {{TACDef}}
        </p>
        <p class="right">
            <span>TACDen:</span>
            {{TACDen}}
        </p>
        <p class="right">
            <span>TACOnl:</span>
            {{TACOnl}}
        </p>
        <p class="right">
            <span>TDOL:</span>
            {{TDOL}}
        </p>
        <p class="right">
            <span>DDOL:</span>
            {{DDOL}}
        </p>
        <p class="right">
            <span>MCC:</span>
            {{MCC}}
        </p>
        <p class="right">
            <span>CAPK:</span>
            {{CAPK}}
        </p>
        <p class="right">
            <span>IAD:</span>
            {{IAD}}
        </p>
        <p class="right">
            <span>ATC:</span>
            {{ATC}}
        </p>
        <p class="right">
            <span>UN:</span>
            {{UN}}
        </p>
        <p class="right">
            <span>TCtry:</span>
            {{TCtry}}
        </p>
        <p class="right">
            <span>AmtO:</span>
            {{AmtO}}
        </p>
        <p class="right">
            <span>CRNCY:</span>
            {{CRNCY}}
        </p>

        <hr />
    {{/isExtended}}

    {{#Footer}}
        <h3>{{Footer}}</h3>
    {{/Footer}}
</div>
